
/*responsive_code*/
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 88%;
        margin: 1.75rem auto;
    }
}

@media (min-width: 1199px) {
    div#row {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 2px;
        display: inline-block;
    }
    .inputgroup {
        display: flex;
    }
    .inputgroup a {
        margin-left: 22px;
    }
    div#newinput {
        display: inline-block;
        width: 100%;
    }
}


@media only screen and (max-width: 599px) and (min-width: 300px)  {
    .create_content_box p {
        font-size: 12px;
    }
    /*create_page_css*/
    .create_campaign_wrap {
        width: 90%;
    }
    .create_input {
        width: 80%;
        margin: auto;
        float: none;
        margin-bottom: 15px;
        text-align: center;
    }
    .create_main_title {
        font-size: 24px;
        line-height: 29px;
    }
    .create_content_box {
        padding-top: 30px;
    }
/*send_invite_Css_code*/
.filter_checkbox {
  float: left;
  width: 100%;
}
.table_filter_wrap {
  width: 100%;
  display: inline-block;
}
.filter_action_list {
  float: right;
  width: 100%;
  padding-top: 15px;
}
.filter_action_list .action_btn_list {
  display: block;
  width: 100%;
}
.filter_search {
  float: right;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.table_count_detail {
  display: inline-block;
}
.box_content {
  width: 100%;
  margin-bottom: 12px;
}
.topbox_wrap {
  width: 100%;
  display: inline-block;
}
.filter_action_list .action_btn_list a {
  line-height: 0;
  float: left;
  margin-bottom: 11px;
}

    /*select_campaign_css_code*/
    
    .create_campaign_wrap.select_campaign_wrap {
        width: 89% !important;
    }
  .create_campaign_wrap.select_campaign_wrap .se_content_box {
    width: 100%;
    margin-bottom: 21px;
  }
  .cam_image {
    padding-top: 0px;
  }
    /*tab_section_css_code*/
    .side_tab.tabs {
        width: 100%;
    }
  .tab-content.current {
    display: inline-block;
  }
  .tab_content {
    width: 100%;
  }
  .message_box_wrap {
    display: none;
  }
  .tab_f_content {
    width: 100%;
    margin-right: 0;
  }
  .inputgroup {
    display: inline-block;
    width: 100%;
  }
  
#row {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
  }
  .form_control_box .inputgroup .inputslectbox {
    width: 85%;
    margin-right: 8px;
    float: left;
  }
  .inputgroup a {
    display: block;
    float: right;
  }
  .form_control_box .inputgroup input {
    width: 85%;
  }
  .block-header.block-header-default.modal_title {
    display: inline-block;
  }
  .mbtn_box {
    display: inline-block;
    padding-top: 17px;
  }
  .mbtn_box a {
    /* width: 120px;
    font-size: 12px; */
    float: left;
    margin-bottom: 11px;
    padding: 8px;
  }
  .block-header.block-header-default.modal_title .btn-block-option {
    position: absolute;
    right: 0;
    top: -4px;
    background-color: transparent;
  }
  .tab_list.tab-link {
    margin-bottom: 20px;
  }
  a.frm_btn {
    font-size: 12px;
    width: 92px;
  }

  /*tab2_css_code*/
  
.w_50 {
    width: 100%;
  }
  .or_divide_box {
    width: 100%;
    height: 55px;
  }
  .or_divide_box:before {
    width: 100%;
    height: 1px;
    top: 29px;
  }
 
  .form_control_box.fchebox span {
    font-size: 12px;
  }
  .form_control_box label.form-label {
    font-size: 12px;
  }
  .form-select {
    font-size: 12px;
  }
  .form-check-label-new {
    font-size: 12px;
  }
  .fgroubox {
    width: auto;
    margin-bottom: 13px;
  }
  .import_app_wrap {
    padding-top: 15px;
  }
  .import_title {
    font-size: 14px;
  }
  .ibox_logo img {
    width: 66px;
  }
  .inputfile + label {
    font-size: 12px;
  }
  .download_btn a {
    font-size: 12px;
  }

  /*tab4_css_code*/
  
.html_code_content_box {
    display: block;
    width: 100%;
  }
  .htmlcodecontent {
    width: 72%;
    font-size: 12px;
  }
  .htmlcodecontent p {
    font-size: 12px;
  }
  .htmlc_btn_box {
    padding-top: 12px;
  }
  .htmlc_btn_box a {
  }
  /*tab5_css_code*/
  
.send_code_content_box {
    width: 100%;
  }

  /*schdule_content_box*/
  .schedule_content_wrap {
    width: 100%;
  }
  .schedule_content_wrap .send_code_content_box {
    width: 100%;
  }
  
.schedule_content_wrap {
    width: 100%;
  }
  .schedule_content_wrap .send_code_content_box {
    width: 100%;
  }
  .sendcodecontent b {
    font-size: 12px;
  }

  /*tab_send_test_code*/
  .tab_top_title {
    font-size: 12px;
  }
}

@media only screen and (max-width: 799px) and (min-width: 600px)  {

 /*send_invite_css_code*/ 
 .box_content {
  width: 46.5%;
  margin-bottom: 11px;
}
.filter_checkbox {
  float: left;
  width: 100%;
  margin-bottom: 11px;
}
.filter_action_list {
  float: right;
  width: 100%;
}
.filter_action_list .action_btn_list {
  float: left;
  width: 100%;
  margin-bottom: 12px;
}
.filter_search {
  float: right;
  width: 100%;
}
/*send_invite_css_code_end*/

.create_campaign_wrap.select_campaign_wrap {
    width: 90% !important;
  }

  .create_content_box p {
    font-size: 12px;
}
/*create_page_css*/
.create_campaign_wrap {
    width: 84%;
  }
  .create_input {
    width:63%;
    margin-bottom: 15px;
  }
.create_main_title {
    font-size: 24px;
    line-height: 29px;
}
.create_content_box {
    padding-top: 30px;
}
/*select_campaign_css_code*/

.create_campaign_wrap.select_campaign_wrap {
    width: 89% !important;
}
.create_campaign_wrap.select_campaign_wrap .se_content_box {
width: 47%;
margin-bottom: 21px;
}
.cam_image {
    padding-top: 7px;
    text-align: center;
    margin: auto;
    width: 100%;
    display: inline-block;
}
/*tab_section_css_code*/
.side_tab.tabs {
    width: 100%;
}
.tab-content.current {
display: inline-block;
}
.tab_content {
width: 100%;
}
.message_box_wrap {
display: none;
}
.tab_f_content {
width: 100%;
margin-right: 0;
}
#row {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
  }
  .form_control_box .inputgroup .inputslectbox {
    width: 91%;
    margin-right: 3px;
    float: left;
  }
  .inputgroup a {
    display: block;
    float: right;
  }
  .inputgroup {
    display: inline-block;
    width: 84%;
  }
.form_control_box .inputgroup input {
width: 91%;
}
.block-header.block-header-default.modal_title {
display: inline-block;
}
.mbtn_box {
display: inline-block;
padding-top: 17px;
}
.mbtn_box a {
    width: 112px;
    /* font-size: 12px; */
    float: left;
    margin-bottom: 11px;
    padding: 8px;
}
.block-header.block-header-default.modal_title .btn-block-option {
position: absolute;
right: 0;
top: -4px;
background-color: transparent;
}
.tab_list.tab-link {
margin-bottom: 20px;
}
a.frm_btn {
/* font-size: 12px;
width: 92px; */
}

/*tab2_css_code*/

.w_50 {
width: 100%;
}
.or_divide_box {
width: 100%;
height: 55px;
}
.or_divide_box:before {
width: 100%;
height: 1px;
top: 29px;
}
.form_control_box.fchebox span {
font-size: 12px;
}
.form_control_box label.form-label {
/* font-size: 12px; */
}
.form-select {
font-size: 12px;
}
.form-check-label-new {
font-size: 12px;
}
.fgroubox {
width: auto;
margin-bottom: 13px;
}
.import_app_wrap {
padding-top: 15px;
}
.import_title {
font-size: 14px;
}
.ibox_logo img {
width: 66px;
}
.inputfile + label {
font-size: 12px !important;
}
.download_btn a {
font-size: 12px;
}

/*tab4_css_code*/

.html_code_content_box {
display: block;
width: 100%;
}
.htmlcodecontent {
width: 72%;
font-size: 12px;
}
.htmlcodecontent p {
font-size: 12px;
}
.htmlc_btn_box {
padding-top: 12px;
}
.htmlc_btn_box a {
}
/*tab5_css_code*/

.send_code_content_box {
width: 100%;
}

/*schdule_content_box*/
.schedule_content_wrap {
width: 100%;
}
.schedule_content_wrap .send_code_content_box {
width: 100%;
}

.schedule_content_wrap {
width: 100%;
}
.schedule_content_wrap .send_code_content_box {
width: 100%;
}
.sendcodecontent b {
/* font-size: 12px; */
}

/*tab_send_test_code*/
.tab_top_title {
/* font-size: 12px; */
}
}

@media only screen and (max-width: 899px) and (min-width: 800px)  {
   /*send_invite_css_code*/ 
 .box_content {
  width: 46.5%;
  margin-bottom: 11px;
}
.filter_checkbox {
  float: left;
  width: auto;
  margin-bottom: 11px;
}
.filter_action_list {
  float: right;
  width: 86%;
}
.filter_action_list .action_btn_list {
  float: left;
  width: auto;
  margin-bottom: 12px;
}
.filter_search {
  float: right;
  width: auto;
}
/*send_invite_css_code_end*/
    
    .create_campaign_wrap.select_campaign_wrap {
        width: 90% !important;
      }

      .create_content_box p {
        font-size: 12px;
    }
    /*create_page_css*/
    .create_campaign_wrap {
        width: 86%;
    }
    .create_input {
        width: 72%;
    }
    .create_main_title {
        font-size: 24px;
        line-height: 29px;
    }
    .create_content_box {
        padding-top: 30px;
    }
    /*select_campaign_css_code*/
    
    .create_campaign_wrap.select_campaign_wrap {
        width: 89% !important;
    }
    .create_campaign_wrap.select_campaign_wrap .se_content_box {
    width: 47%;
    margin-bottom: 21px;
    }
    .cam_image {
    padding-top: 0px;
    }
    /*tab_section_css_code*/
    .side_tab.tabs {
        width: 100%;
    }
    .tab-content.current {
    display: inline-block;
    }
    .tab_content {
    width: 100%;
    }
    .message_box_wrap {
    display: none;
    }
    .tab_f_content {
    width: 100%;
    margin-right: 0;
    }
    .form_control_box .inputgroup input {
    /* width: 85%; */
    }
    #row {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
      }
      .form_control_box .inputgroup .inputslectbox {
        width: 91%;
        margin-right: 3px;
        float: left;
      }
      .inputgroup a {
        display: block;
        float: right;
      }
      .inputgroup {
        display: inline-block;
        width: 84%;
      }
    .form_control_box .inputgroup input {
    width: 91%;
    }
    .block-header.block-header-default.modal_title {
    display: inline-block;
    width: 100%;
    }
    .mbtn_box {
    display: inline-block;
    padding-top: 17px;
    }
    .mbtn_box a {
    
    float: left;
    margin-bottom: 11px;
    }
    .block-header.block-header-default.modal_title .btn-block-option {
    position: absolute;
    right: 0;
    top: -4px;
    background-color: transparent;
    }
    .tab_list.tab-link {
    margin-bottom: 20px;
    }
    a.frm_btn {
    font-size: 12px;
    width: 92px;
    }
    
    /*tab2_css_code*/
    
    /* .w_50 {
    width: 100%;
    }
    .or_divide_box {
    width: 100%;
    height: 55px;
    }
    .or_divide_box:before {
    width: 100%;
    height: 1px;
    top: 29px;
    }
    .form_control_box.fchebox span {
        font-size: 12px;
    } */
    .form_control_box.fchebox span {
        font-size: 12px;
      }
    .form_control_box label.form-label {
    font-size: 12px;
    }
    .form-select {
    font-size: 12px;
    }
    .form-check-label-new {
    font-size: 12px;
    }
    .fgroubox {
    width: auto;
    margin-bottom: 13px;
    }
    .import_app_wrap {
    padding-top: 15px;
    }
    .import_title {
    font-size: 12px;
    }
    .ibox_logo img {
    width: 66px;
    }
    .inputfile + label {
    font-size: 12px !important;
    }
    .download_btn a {
    font-size: 12px;
    }
    
    /*tab4_css_code*/
    
    .html_code_content_box {
    display: block;
    width: 100%;
    }
    .htmlcodecontent {
    width: 72%;
    font-size: 12px;
    }
    .htmlcodecontent p {
    font-size: 12px;
    }
    .htmlc_btn_box {
    padding-top: 12px;
    }
    .htmlc_btn_box a {
    }
    /*tab5_css_code*/
    
    .send_code_content_box {
    /* width: 100%; */
    }
    
    /*schdule_content_box*/
    .schedule_content_wrap {
    width: 100%;
    }
    .schedule_content_wrap .send_code_content_box {
    width: 100%;
    }
    
    .schedule_content_wrap {
    width: 100%;
    }
    .schedule_content_wrap .send_code_content_box {
    width: 100%;
    }
    .sendcodecontent b {
    font-size: 12px;
    }
    
    /*tab_send_test_code*/
    .tab_top_title {
    font-size: 12px;
    }
    }

@media only screen and (max-width: 999px) and (min-width: 900px)  {
       /*send_invite_css_code*/ 
 .box_content {
  width: 46.5%;
  margin-bottom: 11px;
}
.filter_checkbox {
  float: left;
  width: auto;
  margin-bottom: 11px;
}
.filter_action_list {
  float: right;
  width: 86%;
}
.filter_action_list .action_btn_list {
  float: left;
  width: auto;
  margin-bottom: 12px;
}
.filter_search {
  float: right;
  width: auto;
}
/*send_invite_css_code_end*/
        .create_campaign_wrap.select_campaign_wrap {
            width: 90% !important;
          }
         /*createpage_Css*/
  .create_input {
    width: 387px;
  }
  
          .create_content_box p {
            font-size: 12px;
        }
        /*create_page_css*/
        .create_campaign_wrap {
            width: 76%;
        }
        .create_input {
            width: 67%;
        }
        .create_main_title {
            font-size: 24px;
            line-height: 29px;
        }
        .create_content_box {
            padding-top: 30px;
        }
        /*select_campaign_css_code*/
        
        .create_campaign_wrap.select_campaign_wrap {
            width: 89% !important;
        }
        .create_campaign_wrap.select_campaign_wrap .se_content_box {
        width: 47%;
        margin-bottom: 21px;
        }
        .cam_image {
        padding-top: 0px;
        }
        /*tab_section_css_code*/
        .side_tab.tabs {
            width: 100%;
        }
        .tab-content.current {
        display: inline-block;
        }
        .tab_content {
        width: 100%;
        }
        .message_box_wrap {
        display: none;
        }
        .tab_f_content {
        width: 100%;
        margin-right: 0;
        }
        #row {
            width: 100%;
            display: inline-block;
            margin-bottom: 10px;
          }
          .form_control_box .inputgroup .inputslectbox {
            width: 91%;
            margin-right: 3px;
            float: left;
          }
          .inputgroup a {
            display: block;
            float: right;
          }
          .inputgroup {
            display: inline-block;
            width: 84%;
          }
        .form_control_box .inputgroup input {
        width: 91%;
        }
        .block-header.block-header-default.modal_title {
        display: inline-block;
        width: 100%;
        }
        .mbtn_box {
        display: inline-block;
        padding-top: 17px;
        }
        .mbtn_box a {
        
        float: left;
        margin-bottom: 11px;
        }
        .block-header.block-header-default.modal_title .btn-block-option {
        position: absolute;
        right: 0;
        top: -4px;
        background-color: transparent;
        }
        .tab_list.tab-link {
        margin-bottom: 20px;
        }
        a.frm_btn {
        font-size: 12px;
        width: 92px;
        }
        
        /*tab2_css_code*/
        
        /* .w_50 {
        width: 100%;
        }
        .or_divide_box {
        width: 100%;
        height: 55px;
        }
        .or_divide_box:before {
        width: 100%;
        height: 1px;
        top: 29px;
        }
        .form_control_box.fchebox span {
            font-size: 12px;
        } */
        .form_control_box.fchebox span {
            font-size: 12px;
          }
        .form_control_box label.form-label {
        font-size: 12px;
        }
        .form-select {
        font-size: 12px;
        }
        .form-check-label-new {
        font-size: 12px;
        }
        .fgroubox {
        width: auto;
        margin-bottom: 13px;
        }
        .import_app_wrap {
        padding-top: 15px;
        }
        .import_title {
        font-size: 12px;
        }
        .ibox_logo img {
        width: 66px;
        }
        .inputfile + label {
        font-size: 12px !important;
        }
        .download_btn a {
        font-size: 12px;
        }
        
        /*tab4_css_code*/
        
        .html_code_content_box {
            display: block;
            width: 48%;
            margin-right: 26px;
        }
        
.html_code_content_box:last-child {
    margin-right: 0px;
  }
        .htmlcodecontent {
            width: 46%;
    font-size: 12px;
        }
        .htmlcodecontent p {
        font-size: 12px;
        }
        .htmlc_btn_box {
            padding-top: 12px;
            float: none;
            margin: auto;
            display: flex;
            text-align: center;
            width: 39%;
            text-align: center;
            justify-content: center;
        }
        .htmlc_btn_box a {
        }
        /*tab5_css_code*/
        
        .send_code_content_box {
        /* width: 100%; */
        }
        
        /*schdule_content_box*/
        .schedule_content_wrap {
        width: 100%;
        }
        .schedule_content_wrap .send_code_content_box {
        width: 100%;
        }
        
        .schedule_content_wrap {
        width: 100%;
        }
        .schedule_content_wrap .send_code_content_box {
        width: 100%;
        }
        .sendcodecontent b {
        font-size: 12px;
        }
        
        /*tab_send_test_code*/
        .tab_top_title {
        font-size: 12px;
        }
        }

        @media only screen and (max-width: 1099px) and (min-width: 1000px)  {
    /*send_invite_css_code*/ 
    .box_content {
      width: 46.5%;
      margin-bottom: 11px;
    }
    .filter_checkbox {
      float: left;
      width: auto;
      margin-bottom: 11px;
    }
    .filter_action_list {
      float: right;
      width: 86%;
    }
    .filter_action_list .action_btn_list {
      float: left;
      width: auto;
      margin-bottom: 12px;
    }
    .filter_search {
      float: right;
      width: auto;
    }
    /*send_invite_css_code_end*/
            .block-header.block-header-default.modal_title h3.block-title {
                font-size: 16px;
              }
              .side_tab {
                /* width: 30%;
                float: left; */
              }
              #row {
                width: 100%;
                display: inline-block;
                margin-bottom: 10px;
              }
              .form_control_box .inputgroup .inputslectbox {
                width: 83%;
    margin-right: 3px;
    float: left;
              }
              .inputgroup a {
                display: block;
                float: right;
              }
              .inputgroup {
                display: inline-block;
                width: 100%;
              }
            .form_control_box .inputgroup input {
            width: 83%;
            }

              .tab_content {
                float: left;
                width: 78%;
                border: 0px solid;
                padding-left: 7px;
              }
              .mbtn_box a {
                background-color: #9B9EA1;
                width: 123px;
            }
            
.create_campaign_wrap.select_campaign_wrap {
    width: 80% !important;
  }
  .modal-dialog {
    max-width: 95%;
  }

  .tab_f_content {
    width: 56%;
    margin-right: 7px;
  }
  .inputgroup a {

    height: 38px;
  }
  .message_box_wrap {
    width: 37%;
    margin-left: 36px;
  }
  .message_content {
    width: 73%;
    float: left;
  }
  .message_box_wrap {
    float: right;
    width: 37%;
    text-align: left;
    margin-left: 36px;
  }
  .tab_f_content {
    width: 56%;
    margin-right: 7px;
  }
  a.frm_btn {
    width: 95px;
    height: 33px;
    font-size: 14px;
  }
  .form_control_box.fchebox span {
    font-size: 12px;
  }
  .fgroubox {
    margin-bottom: 13px;
  }
  label.form-check-label-new {
    font-size: 12px;
  }
  .form_control_box label.form-label {
    font-size: 12px;
  }
  .inputfile-1 + label {
    font-size: 12px !important;
  }
  
.form-select {
    font-size: 12px;
  }
  .ibox_logo {
    width: 98px;
    text-align: center;
  }
  .ibox_logo img {
    width: 68px;
  }
  .tab_list {
    margin-bottom: 16px;
    width: 78%;
  }
  h3.stepper-title {
    font-size: 14px;
  }

  .htmlcodecontent p {
    font-size: 12px;
  }
  .htmlcodecontent {
    font-size: 12px;
    width: 48%;
  }
  .tab_list_content {
    padding-left: 14px;
  }
  .sendcodecontent b {
    font-size: 12px;
  }
  .sendcodecontent p {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }
  .inputgroup a span {
    background-size: 39%;
  }
  .hc_box_width {
    width: 100%;
    display: block !important;
  }
  .schedule_content_wrap {
    width: 84%;
  }
  /*createpage_Css*/
  .create_input {
    width: 387px;
  }
  .create_campaign_wrap {
    width: 80%;
  }
        }
